@media (min-height: 1000px) and (min-width: 901px) {
    .main-img {
        width: 800px;
        max-width: 800px;
        height: 80vh;
        max-height: 590px;
    }
} 

@media (max-width: 1170px) {
    .main-info {
        padding-top: 15vh;
    }
    .main-img {
        height: 50vh;
    }
    .main-text {
        max-width: 450px;
    }
    .video-img {
        right: 0px;
    }
}

@media (max-width: 1010px) {
    .video-img {
        display: none;
    }
}

@media (max-width: 900px) {
    .main {
        height: 100vh;
    }
    
    .main-title {
        font-size: 64px;
        text-align: center;
    }
    .main-info {
        padding-top: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-text {
        text-align: center;
        max-width: 600px;
    }
    .preim-blocks {
        column-gap: 10px;
        justify-content: center;
    }
    .preim-block {
        max-width: 275px;
        padding: 35px 7px 0 7px;
    }
    .main {
        overflow: hidden;
    }
    .main .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        height: 100vh;
      }
    .main-img {
        display: none;
        
    }
    .main-mobile-info {
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 25px;
    }
    .main-mobile-info-text {
        font-size: 32px;
        font-weight: 400;
        color: white;
        position: absolute;
        bottom: 30vh;
        z-index: 5;
    }
    .main-img-mobile {
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
        display: block;
    }
    .main-img-mobile img {
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
        display: block;
        opacity: 75%;
    }
    .main-button {
        display: none;
    }
    .main-mobile-button {
        width: 33vw;
        height: 45px;
        border-radius: 30px;
        border: 0;
        outline: 0;
        background: linear-gradient(90deg, #C3C0C0 0%, rgba(250, 250, 250, 0.99) 50.52%, #C3C0C0 100%);

        display: block;
        position: absolute;
        bottom: 18vh;
        left: 33vw;
        z-index: 5;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .main-mobile-button a {
        width: 30px;
        height: 30px;
    }
    .preim {
        box-shadow: 0px -395px 250px 40px rgba(0, 0, 0, 0.55);
    }

}

@media (max-width: 720px) {
    .preim-blocks {
        column-gap: 0;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 1400px;
        position: relative;
    }
    .preim-block {
        max-width: 350px;
        height: 450px;
        padding: 35px 15px 0 15px;
        position: absolute;  
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);

    }
    .block1 {
        pointer-events: none;
      }
      
    .block2 {
        pointer-events: none;
      }
    .preim-block1 {
        top: 0;
    }
    .preim-block2 {
        top: 400px;
        height: 600px;
    }
    .preim-block3 {
        top: 950px;
    }
}


@media (max-width: 700px) {
    .main-title {
        font-size: 48px;
    }
    .titles {
        font-size: 36px;
    }
    .videoplayer {
        width: 421px;
        height: 237px;
    }
}

@media (max-width: 530px) {
    .main-title {
        font-size: 36px;
        line-height: 42px;
    }
    .catalog .container {
        padding: 0;
    }
    .swiper {
        margin-bottom: 65px;
        height: 320px;
    }
    .catalog-button-text {
        text-align: center;
        font-size: 10px;
    }
}

@media (max-width: 450px) {
    .videoplayer {
        width: 310px;
        height: 174px;  
    }
    .video-text {
        font-size: 16px;
    }
    .videoplayer iframe {
        border-radius: 25px;
    }
    .video .container {
        padding: 0;
    }
    .swiper-text {
        margin-bottom: 30px;
    }
    .swiper-text p {
        font-size: 14px;
    }
    .titles {
        font-size: 28px;
    }
    .video {
        padding: 200px 0;
    }

    .preim-block-text {
        font-size: 20px;
    }
    .preim-blocks {
        height: 1170px;
    }
    .preim-block {
        max-width: 270px;
        height: 380px;
        padding: 25px 10px 0 10px;
        border-radius: 45px 45px 0 0;
    }
    .preim-block2 {
        top: 320px;
        height: 520px;
    }
    .preim-block1 {
        top: 0;
    }
    .preim-block3 {
        top: 790px;
    }
}

@media (max-height: 840px) and (max-width: 900px) {
    .preim {
        box-shadow: 0px -225px 250px 40px rgba(0, 0, 0, 0.55);
    }
}